In [1]:
import numpy as np
import pandas as pd

# Read Tensor Data

In [9]:
# download data from google drive and read data
stock_tensor = np.load('../data/stock_dense_python.npy')

In [10]:
print(stock_tensor.shape)

(3028, 3089, 6)

# Read Information

In [2]:
stock_table = pd.read_csv('../data/stock_table', sep='\t')

In [3]:
stock_table.head()

,index,symbol,name,description,sector,from_date,to_date
0,0,000020,"Dongwha Pharm.Co.,Ltd","Dongwha Pharm Co., Ltd. manufactures and sells...",Healthcare,2008-01-03,2020-06-30
1,1,000030,Woori Financial Group Inc.,No Information,No Information,2014-11-19,2019-02-12
2,2,000040,"KR Motors Co., Ltd.","KR Motors Co., Ltd. manufactures and sells mot...",Consumer Cyclical,2008-01-03,2020-06-30
3,3,000050,"Kyungbang Co.,Ltd","Kyungbang Co., Ltd. engages in textile spinnin...",Consumer Cyclical,2008-01-03,2020-06-30
4,4,000060,"Meritz Fire & Marine Insurance Co., Ltd.","Meritz Fire & Marine Insurance Co., Ltd. provi...",Financial Services,2008-01-03,2020-06-30

In [4]:
date_dic = pd.read_csv('../data/date_dic', sep='\t')
date_dic.head()

   index        date
0      0  2008-01-03
1      1  2008-01-04
2      2  2008-01-07
3      3  2008-01-08
4      4  2008-01-09

In [5]:
feature_dic = pd.read_csv('../data/feature_dic', sep='\t')
feature_dic.head()

   index         feature
0      0   opening_price
1      1   highest_price
2      2    lowest_price
3      3   closing_price
4      4  trading_volume